body {
    /* background-color: #2D332C; */
}

#content-list {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

#minecraft-content {
    display: flex;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
}


#minecraft-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#minecraft-content img:hover {
    transform: scale(110%);
}