body {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    overflow: auto;
    max-width: 2060px;
}

span {
    color: #FF6F00
}

header,
nav,
main,
aside,
footer {
    flex: 1 1 100vw;
    margin: 5px;
}

header {
    background-image:
        linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.9)),
        url("../assets/dbe-icon.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 800px;
    margin: 0 0 100px 0;
}

nav {
    flex: 1 1 200px;
}

main {
    flex: 20 1 500px;
}

aside {
    flex: 1 1 200px;
}

footer {
    background-color: #332E2B;
    height: 350px;
    margin: 100px 0 0 0;
}

a {
    text-decoration: none;
}

#headerMenu {
    height: 80px;
    text-align: right;
    margin: 20px;
}

#headerMenu li {
    display: inline-block;
    color: white;
    font-family: "Lexend-Medium";
    list-style-type: none;
    margin: 20px;
}

#bannerTitle {
    color: white;
    font-family: "Lexend-Medium";
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

#bannerDescription {
    color: white;
    font-family: "Lexend-Thin";
    font-size: 18px;
    text-align: center;
}

#discordButton {
    border: solid 2px white;
    border-radius: 15px;
    padding: 15px;
}

#discordButton:hover {
    border: solid 2px white;
    border-radius: 15px;
    padding: 15px;
}



/* #content-list {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

#content {
    display: flex;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px rgba(1, 1, 1, 0.4);
}


#content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#content img:hover {
    transform: scale(110%);
}

#content-title {
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
} */



.versionList {
    align-content: center;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px #000000;
    font-family: "Lexend-Light";
    height: 200px;
    margin-top: 100px;
    text-align: center;
}

.versionList table {
    border-collapse: collapse;
    height: 90%;
    width: 90%;
}

.versionList table td {
    border-top: solid 1px #c4c4c4;
}

.downloadArrowDown {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    padding: 15px;
}

.downloadArrowDown:hover {
    background-color: #FF6F00;
    transition: 0.5s;
}

.downloadArrowDown img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}