body {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    overflow: auto;
}

header,
nav,
main,
aside,
footer {
    display: flex;
    background-color: rgb(231, 231, 231);
    margin: 3px;
}

header {
    align-items: center;
    background-image:
        /* linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.8)),
        linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.8)), */
        linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.8)),
        url("../assets/dbe-icon.png");
    flex: 1 1 100vw;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    margin: 0 0 100px 0;
}

nav {
    flex: 1 1 200px;
}

main {
    flex: 20 1 500px;
}

aside {
    flex: 1 1 200px;
}

footer {
    background-color: #332E2B;
    flex: 1 1 100vw;
    height: 350px;
    margin: 100px 0 0 0;
}



#banner-title {
    color: white;
    font-family: "Lexend-Medium";
    font-size: 50px;
    text-align: center;
}

#banner-description {
    color: white;
    font-family: "Lexend-Thin";
    font-size: 18px;
    text-align: center;
}


/* #content-list {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

#content {
    display: flex;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px rgba(1, 1, 1, 0.4);
}


#content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#content img:hover {
    transform: scale(110%);
}

#content-title {
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
} */